<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
	<properties resource="dbcpconfig.properties" />
	
	<!-- 配置数据库 驱动jar包路径 -->
<!-- 	<classPathEntry location="D:/Java/maven/apache-maven-3.1.0/repo/ojdbc/ojdbc/6/ojdbc-6.jar" /> -->
<!-- 	<classPathEntry location="D:/Java/maven/apache-maven-3.1.0/repo/mysql/mysql-connector-java/5.0.8/mysql-connector-java-5.0.8.jar" /> -->

	<context id="oracel_tables" targetRuntime="MyBatis3">
		<!-- 自定义序列化 -->
		<plugin type="org.ihansen.mybatis.generator.extend.CustomSerializablePlugin"></plugin>
		
		<!-- oracle/mysql/sqlserver方言插件 -->
		<plugin type="org.ihansen.mybatis.generator.extend.CustomPlugin">
			<property name="pageHelperClass" value="org.ihansen.mybatis.generator.extend.PageHelper" />
			<property name="dbType" value="ORACLE" />
		</plugin>
		
		<!-- 自定义Example类文件名字 -->
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example$"/>
			<property name="replaceString" value="EX"/>
		</plugin>
		
		<!-- 注释控制 -->
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
			<property name="suppressDate" value="true" />
		</commentGenerator>
		
		<!-- 数据库连接 -->
		<jdbcConnection driverClass="${oracle.jdbc.driver}"
			connectionURL="${db1.jdbc.url}" userId="${db1.jdbc.username}"  
            password="${db1.jdbc.password}" />
<!--         <jdbcConnection driverClass="${sqlserver.jdbc.driver}" -->
<!-- 			connectionURL="${db5.jdbc.url}" userId="${db5.jdbc.username}"   -->
<!--             password="${db5.jdbc.password}" /> -->
<!--         <jdbcConnection driverClass="${mysql.jdbc.driver}" -->
<!-- 			connectionURL="${db6.jdbc.url}" userId="${db6.jdbc.username}"   -->
<!--             password="${db6.jdbc.password}" />     -->
         

		<!-- 使用于Oracle自定义类型转换 -->
		<javaTypeResolver type="org.ihansen.mybatis.generator.extend.CustJavaTypeResolver">
			<!-- 属性可以控制是否强制DECIMAL和NUMERIC类型的字段转换为Java类型的java.math.BigDecimal,默认值为false -->
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 数据表对应的实体层 -->
		<javaModelGenerator targetPackage="org.ihansen.app.domain" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="enableSubPackages" value="true" />
		</javaModelGenerator>

		<!-- sql mapper 隐射配置文件(xml配置文件) -->
		<sqlMapGenerator targetPackage="org.ihansen.app.mapper" targetProject="src/main/resources">
			<property name="enableSubPackages" value="true" />
			<!-- 此属性表示是否和原xml合并,false表示覆盖 -->
			<property name="isMergeable" value="false"/>
		</sqlMapGenerator>

		<!-- 在ibatis2 中是dao层，但在mybatis3中，其实就是mapper接口 -->
		<javaClientGenerator type="XMLMAPPER" targetPackage="org.ihansen.app.domain.operate" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 要对那些数据表进行生成操作，必须要有一个 -->
		<table tableName="bus_sec_key" domainObjectName="SecKey">
			<!-- 自定义属性配置：设置此属性表示该字段自增 -->
			<property name="incrementField" value="id"/>
			<!-- 自定义属性配置：对应的数据源名称 -->
			<property name="dataSourceName" value="db1"/>
			<property name="enableCountByExample" value="true"/>
			<property name="enableUpdateByExample" value="true"/>
			<property name="enableDeleteByExample" value="true"/>
			<property name="enableSelectByExample" value="true"/>
			<property name="selectByExampleQueryId" value="true"/>
		</table>
	</context>
</generatorConfiguration>