<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ihansen.app.domain.operate.MSBusLogMapper" >
  <resultMap id="BaseResultMap" type="org.ihansen.app.domain.MSBusLog" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="bus_id" property="busId" jdbcType="VARCHAR" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="done_date" property="doneDate" jdbcType="TIMESTAMP" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, bus_id, operator_id, content, done_date, result, state, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.ihansen.app.domain.MSBusLogEX" >
    <include refid="SqlServerDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    row_number() over(
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="orderByClause == null" >
      order by id
    </if>
    ) as _pagination_rownumber,
    <include refid="Base_Column_List" />
    from bus_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <include refid="SqlServerDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bus_log
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bus_log
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="org.ihansen.app.domain.MSBusLogEX" >
    delete from bus_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.ihansen.app.domain.MSBusLog" >
    insert into bus_log (id, bus_id, operator_id, 
      content, done_date, result, 
      state, remark)
    values (#{id,jdbcType=DECIMAL}, #{busId,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{doneDate,jdbcType=TIMESTAMP}, #{result,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ihansen.app.domain.MSBusLog" >
    insert into bus_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="busId != null" >
        bus_id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="doneDate != null" >
        done_date,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="doneDate != null" >
        #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.ihansen.app.domain.MSBusLogEX" resultType="java.lang.Integer" >
    select count(*) from bus_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bus_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.busId != null" >
        bus_id = #{record.busId,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.doneDate != null" >
        done_date = #{record.doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.result != null" >
        result = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bus_log
    set id = #{record.id,jdbcType=DECIMAL},
      bus_id = #{record.busId,jdbcType=VARCHAR},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      done_date = #{record.doneDate,jdbcType=TIMESTAMP},
      result = #{record.result,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.ihansen.app.domain.MSBusLog" >
    update bus_log
    <set >
      <if test="busId != null" >
        bus_id = #{busId,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="doneDate != null" >
        done_date = #{doneDate,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ihansen.app.domain.MSBusLog" >
    update bus_log
    set bus_id = #{busId,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      done_date = #{doneDate,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="SqlServerDialectPrefix" >
    <if test="pageHelper != null" >
      SELECT *FROM (
    </if>
  </sql>
  <sql id="SqlServerDialectSuffix" >
    <if test="pageHelper != null" >
      <![CDATA[) _pagination_tab WHERE _pagination_rownumber >=#{pageHelper.begin} and _pagination_rownumber < #{pageHelper.end}]]>
    </if>
  </sql>
  <insert id="insertBatch" parameterType="org.ihansen.app.domain.MSBusLog" >
    insert into bus_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      bus_id,operator_id,content,done_date,result,state,remark,
    </trim>
    values
    <foreach collection="list" index="index" item="item" separator="," >
      (
      <trim suffixOverrides="," >
        #{item.busId,jdbcType=VARCHAR},#{item.operatorId,jdbcType=VARCHAR},#{item.content,jdbcType=VARCHAR},#{item.doneDate,jdbcType=TIMESTAMP},#{item.result,jdbcType=VARCHAR},#{item.state,jdbcType=VARCHAR},#{item.remark,jdbcType=VARCHAR},
      </trim>
      )
    </foreach>
  </insert>
</mapper>